@model IEnumerable<AccountRegistry.Models.AccessCode>

@{
    ViewBag.Title = "Access Codes";
}

<h2>Access Codes</h2>
<p>Ethereum Address - <a href="https://testnet.etherscan.io/address/@ViewBag.Address" + @ViewBag.Address>@ViewBag.Address</a></p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniqueCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confirmed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniqueCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmed)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.AccessCodeId })
        </td>
    </tr>
}

</table>
