@model IEnumerable<AccountRegistry.Models.AccessCode>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuyerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniqueCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniqueCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccessCodeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccessCodeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccessCodeId })
        </td>
    </tr>
}

</table>
